.user-summary-container {
    padding: 20px;
}

.user-summary-container h2 {
    margin-bottom: 15px;
}

.user-summary-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-collapse: collapse;
    border: 1px solid rgba(173,216,230);
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: rgba(173,216,230, 0.6);
    margin: 15px 0;
    padding: 0 20px
  }
  
  .summary-card-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 30px 0;
    min-width: 70%
  }

  .summary-card-content button {
    background-color: #a33091;
    color: #fff;
    padding: 12px;
    border: none;
    width: 40%;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .summary-card-content label {
    font-weight: 600;
    margin-top: 10px 
  }

  .summary-search-container {
    width: 30%; 
    margin-top: 15px;
    margin-bottom: 20px;
    float: right;
    margin-top: 15px;
  }

  .summary-search-container {
    font-weight: 500;
  }

  .summary-search-input {
    width: 100%;
    height: 35px 
  }

  /* Table style starts here */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  }
  
  .summary-table-container {
    width: 100%;
    font-size: 13px;
    overflow-x: auto; /* Add a horizontal scrollbar if the table overflows */
  }

.summary-table {
    width: 100%;
    margin-top: 0 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .summary-table th,
  .summary-table td {
    border: 1px solid #ddd;
    padding: 5px 5px 5px 5px;
    text-align: left;
  }
  
  /* Hover effect */
  .summary-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Striped rows */
  .summary-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Animated row entry */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .summary-table tbody tr {
    animation: fadeIn 0.5s ease-in-out;
  }

  .total-count {
    font-weight: bold;
  }

  .arrowUp {
    margin-left: 4px;
    opacity: 0.5;
    font-size: 0.8em;
  }
  .arrowUp:hover {
    opacity: 1;
    cursor: pointer;
  }

  .arrowDown {
    opacity: 0.5;
    font-size: 0.8em;
  }
  .arrowDown:hover {
    opacity: 1;
    cursor: pointer;
  }

  /* To add a scroll bar in x-axis for the table when screen size in less than 830px */
  @media screen and (max-width: 830px) {
    .table-container {
      overflow-x: auto;  /* Add a horizontal scrollbar for smaller screens */
    }

    /* .summary-table th {
      font-size: 10px;
    } */
  }
  
  
  @media (max-width: 750px) {
    .user-summary-card {
      flex-direction: column;
    }
  
    .summary-card-content {
      flex-direction: column;
    }

    .summary-search-container {
        width: 100%;
    }
  }

  
  @media (max-width: 750px) {
   
    .user-summary-card {
        flex-direction: column;
      }

    .user-summary-card button {
      padding: 12px;
    }  
    
      .summary-card-content {
        flex-direction: column;
        display: flex;
        align-items: center;
      }
  
      .summary-search-container {
          width: 100%;
      }

      .summary-card-content label {
        margin-top: 0 
      }
  }
  
